:root {
    --primary-gradient: linear-gradient(to right, #ff512f, #dd2476);
}

.ninnPlayer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ninnPlayer audio {
    display: none;
}

.nTimeline {
    display: flex;
    align-items: center;
}

.nControls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nBtn {
    background: none;
    appearance: none;
    border: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    height: 50px;
    width: 50px;
    padding: 8px;
    border-radius: 50%;
    background: #ff512f; /* fallback for old browsers */
    background: var(--primary-gradient);
    border: 1px solid hsl(189.8, 100%, 59.2%, 0.5);
    border: 1px solid hsl(0, 0%, 0%, 0.5);
}

.nPlay {
    width: 100px;
    height: 100px;
}

.nPlay > svg {
    width: 90px;
    height: 90px;
    z-index: 20;
}

.nRestart {
    --size: 40px;
    height: var(--size);
    width: var(--size);
    padding: 5px;
}

.nMute {
    --size: 40px;
    height: var(--size);
    width: var(--size);
    padding: 5px;
}

.nSkip {
    --size: 60px;
    height: var(--size);
    width: var(--size);
    position: relative;
    z-index: 30;
}

.nFfwd {
    transform: translate(-35%, -15%);
}

.nRwd {
    transform: translate(35%, -15%);
}

.nCngTrack {
    position: relative;
    z-index: 40;
}

.nNext {
    transform: translate(-75%, -55%);
}

.nPrev {
    transform: translate(75%, -55%);
}

.nProgressWrapper {
    --posTop: 0;
    --posLeft: 0;
    flex: 1 0 300px;
    margin: 0 1rem;
    position: relative;
}

.nProgressWrapper:hover::before {
    content: attr(data-time);
    position: absolute;
    left: var(--posLeft);
    background: var(--primary-gradient);
    padding: 0.25em 0.5em;
    border-radius: 20px;
    pointer-events: none;
    transform: translate(-50%, -105%);
}

.nProgress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.2px solid hsl(333, 73%, 50%, .25);
    background-color: transparent;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px hsl(333, 73%, 50%, .25);
    cursor: pointer;
}

.nProgress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 10px;
}

.nProgress::-webkit-progress-value {
    background: var(--primary-gradient);
    border-radius: 10px;
}

.nProgress::-moz-progress-bar {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: var(--primary-gradient);
    border-radius: 10px;
}

.nVol {
    margin: 0 0.5rem;

    -webkit-appearance: none;
    /* width: 100px; */
    background-color: transparent;
}

.nVol::-webkit-slider-thumb {
    appearance: none;
    border: none;
    background-color: black;
    height: 30px;
    width: 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -10.65px;
}

.nVol::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: black;
    height: 30px;
    width: 8px;
    cursor: pointer;
}

.nVol::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 8px;
    background: var(--primary-gradient);
    border-radius: 10px;
}

.nVol::-moz-range-track {
    cursor: pointer;
    height: 8px;
    background: var(--primary-gradient);
    border-radius: 10px;
}

.ninnPlaylist {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.ninnPlaylist li {
    color: #ff512f;
    cursor: pointer;
}

.ninnCurrent {
    color: #dd2476 !important;
}


.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}